<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="com.yan.hw01.dao.QuestionDaoImpl">
        <constructor-arg name="pathToFile" value="hw-01/src/main/resources/questionnaire/questions.csv"/>
    </bean>

    <bean id="answerDao" class="com.yan.hw01.dao.AnswerDaoImpl">
        <constructor-arg name="pathToFile" value="hw-01/src/main/resources/questionnaire/answers.csv"/>
    </bean>

    <bean id="questionnaireService" class="com.yan.hw01.service.QuestionnaireServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="answerDao" ref="answerDao"/>
    </bean>
</beans>